// handles positioning and animation of toast messages

.notification_container {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 36rem;
  margin: 0 auto;
  z-index: 10000;

  .alert {
    margin: 0 1rem 1rem;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-delay: 5s;
    animation-name: hide;
    animation-fill-mode: forwards;
  }
}

@keyframes hide {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(90deg);
  }
}